
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Pagos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col col-12>
              <ion-list>
                  <ion-list-header>
                    Metódos de pago
                  </ion-list-header>
                  <ion-item>
                    <ion-icon name="cash" item-start></ion-icon>
                    <ion-label>Efectivo</ion-label>
                    <ion-toggle checked="true"></ion-toggle>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="card" item-start></ion-icon>
                    <ion-label>Tarjeta</ion-label>
                    <ion-toggle disabled checked="false"></ion-toggle>
                  </ion-item>
              </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
              <ion-list>
                  <ion-list-header>
                     Tu tarjeta
                  </ion-list-header>
                  <ion-item>
                      <ion-input type="number" placeholder="Número de tarjeta"></ion-input>
                    </ion-item>
              </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-list>
                <ion-item>
                    <ion-label floating></ion-label>
                    <ion-input type="number" placeholder="MM/AA"></ion-input>
                  </ion-item>
            </ion-list>
          </ion-col>
          <ion-col  col-6>
              <ion-list>
                  <ion-item>
                      <ion-label floating></ion-label>
                      <ion-input type="number" placeholder="CVV"></ion-input>
                    </ion-item>
              </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-list>
                    <ion-item>
                        <ion-input type="text" placeholder="Nombre"></ion-input>
                      </ion-item>
                </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center>
                <button ion-button block>Guardar</button>
            </ion-col>
             
          </ion-row>
      </ion-grid>
    
       

</ion-content>
