<ion-header>

  <ion-navbar>
    <ion-title>buscando</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <img src="assets/imgs/logo_c.png" alt="">
  <h2>Buscando recolector...</h2>
  
</ion-content>
