<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>

  <img src="assets/imgs/logo_c.png" alt="" srcset="">
    <ion-list>

        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <br>
        <button ion-button (click)="goIn()">Iniciar</button>
        
        
      
      </ion-list>

</ion-content>
