page-home {
    #map{
        height: 100%;
    }
    .card-map{
        position: absolute;
        z-index: 5;
    }

    .chip-price{
        z-index:15;
        position: absolute;
        left:7px;
        bottom: 7px;
    }
    .text-input[disabled]{
        opacity: unset;
    }
}
