<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Servicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-map">
        <ion-list>
            <ion-item>
              <ion-input type="text" placeholder="Ubicación" [(ngModel)]="ubicacion" disabled></ion-input>
            </ion-item>
          </ion-list>
    </ion-card>
    <ion-chip color="primary" class="chip-price">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label><b>50.00</b></ion-label>
    </ion-chip>
  <div #map id="map"></div>

  <ion-fab right bottom>
      <button ion-fab color="danger" (click)="showRadio()"><ion-icon name="car"></ion-icon></button>
    </ion-fab>
</ion-content>
