
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Historial de servicios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/historial.jpg">
      </ion-thumbnail>
      <h2>21 octubre 2018 </h2>
      <p>Chevrolet Silverado</p>
      <ion-badge item-end>$50.50</ion-badge>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/historial.jpg">
      </ion-thumbnail>
      <h2>21 octubre 2018 </h2>
      <p>Chevrolet Silverado</p>
      <ion-badge item-end>$50.50</ion-badge>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/historial.jpg">
      </ion-thumbnail>
      <h2>21 octubre 2018 </h2>
      <p>Chevrolet Silverado</p>
      <ion-badge item-end>$50.50</ion-badge>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/historial.jpg">
      </ion-thumbnail>
      <h2>21 octubre 2018 </h2>
      <p>Chevrolet Silverado</p>
      <ion-badge item-end>$50.50</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
