
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Configuración</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/perfil.jpg">
          </ion-avatar>
          <h2>Iris Tarin</h2>
          <h3>6441000000</h3>
          <p>tair.rod@gmail.com</p>
          <button ion-button clear item-end>Editar</button>
        </ion-item>
        <ion-list-header>
            Lugares favoritos
        </ion-list-header>
        <ion-item>
            <ion-icon name="log-out" item-start></ion-icon>
            Salir
        </ion-item>
        
      </ion-list>
</ion-content>
